
@media  screen and (max-width:720px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    
    .botoes{
        margin-top: 5px;
        width: 100%;
    }
}

@media screen and (min-width:1000px){
    .descrição{
        width: 50%;
    }
}